name: ruby-bindings
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  xtask:
    name: Build xtask
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Cargo Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-${{ matrix.target }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Build xtask
        run: |
          docker build -t xtask -f ci/docker/Dockerfile.bindgen --target=builder .
          docker run --rm -v $PWD:/workdir xtask cp target/release/xtask /workdir/xtask.bin
      - name: Upload xtask binary
        uses: actions/upload-artifact@v4
        with:
          name: xtask
          path: xtask.bin

  generate:
    name: Generate Ruby bindings
    runs-on: ubuntu-24.04
    needs: [xtask]
    timeout-minutes: 20
    continue-on-error: true
    env:
      CARGO: cargo
      TARGET_FLAGS: --target ${{ matrix.target }}
      RUST_BACKTRACE: 1
    strategy:
      fail-fast: false
      matrix:
        ruby-version: [
          4.0.0-preview3
        ]
        target: ["x86_64-unknown-linux-gnu"]
    steps:
      - name: Checkout rbspy repository
        uses: actions/checkout@v4
        with:
            path: "rbspy"
      - name: Download xtask binary
        uses: actions/download-artifact@v4
        with:
          name: xtask
          path: xtask
      - name: Generate bindings for ruby ${{ matrix.ruby-version }}
        run: |
          set -euo pipefail

          if [[ "$(ruby -e 'puts Gem::Version.new("${{ matrix.ruby-version }}".gsub("_", ".")) >= Gem::Version.new("3.4.0")')" == "true" ]]; then
            ubuntu_version=24.04
            ruby_system_version=3.3.6
          else
            ubuntu_version=20.04
            ruby_system_version=2.7.0
          fi

          chmod +x xtask/xtask.bin

          cd rbspy

          docker build -t xtask -f ci/docker/Dockerfile.bindgen --target=generate --build-arg UBUNTU_VERSION=$ubuntu_version --build-arg RUBY_VERSION=$ruby_system_version .
          docker run --rm -v $(pwd)/../xtask/xtask.bin:/xtask -v $PWD/ruby-structs:/ruby-structs xtask v${{ matrix.ruby-version }}

          mkdir ../bindings-staging
          # Add new files to the index so that they get picked up
          git add ruby-structs/src
          cp $(git diff --name-only --staged | xargs) ../bindings-staging || echo "No new or modified files - bindings are up to date"
      - name: Upload Bindings
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: ignore
          name: bindings-${{ matrix.ruby-version }}
          path: bindings-staging

  create-branch:
    name: Create branch with updated bindings
    runs-on: ubuntu-24.04
    needs: [generate]
    steps:
      - name: Checkout rbspy repository
        uses: actions/checkout@v4
        with:
            path: "rbspy"
            fetch-depth: 0
      - uses: actions/download-artifact@v4
      - name: Copy bindings into place
        id: copy-bindings
        run: |
          if cp bindings-*/ruby*.rs rbspy/ruby-structs/src/; then
            echo "generated_bindings=true" >> $GITHUB_OUTPUT
          else
            echo "No new bindings were generated. Everything is up to date."
            echo "generated_bindings=false" >> $GITHUB_OUTPUT
            exit 0
          fi
      - name: Create branch
        if: steps.copy-bindings.outputs.generated_bindings == 'true'
        run: |
          # Configure git just enough that it can push branches
          cat <<- EOF > $HOME/.netrc
            machine github.com
            login ${{ github.actor }}
            password ${{ secrets.GITHUB_TOKEN }}

            machine api.github.com
            login ${{ github.actor }}
            password ${{ secrets.GITHUB_TOKEN }}
          EOF
          chmod 600 $HOME/.netrc

          cd rbspy
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

          branch_name="generate-ruby-bindings-${{ github.run_number }}"
          git checkout -b $branch_name
          git add ruby-structs/src/ruby*.rs
          git commit -a -m "Regenerate ruby C bindings" --author="GitHub Actions <actions@github.com>"
          git push -f --set-upstream origin $branch_name
